101 WAVE resources\\Shot.wav
102 WAVE resources\\Music.wav
103 WAVE resources\\Zombie1.wav
104 WAVE resources\\Zombie2.wav
105 WAVE resources\\Zombie3.wav
106 WAVE resources\\Zombie4.wav
107 WAVE resources\\PointIncrease.wav
108 WAVE resources\\Losing1.wav
109 WAVE resources\\Losing2.wav